{{ define "main" }}
<section class="margin-large">
    {{.Content}}

    <section class="overflow-x-scroll@m margin-large margin-remove-horizontal@m text-nowrap">
        <ul id="filters-pane" class="tab margin-large margin-remove-vertical margin-remove-all@m">
            <li class="active"><a href="javascript:void(0)" data-filter="All" class="inline-block">All</a></li>
            {{ range .Site.Params.project_categories }}
                <li>
                    <a href="javascript:void(0)" title="{{ . }}" data-filter="{{ . }}" class="inline-block">{{ . }}</a>
                </li>
            {{ end }}
        </ul>
    </section>
    
    <section id="filters-content" class="margin-large margin-remove-horizontal@m padding-large padding-remove-top padding-remove-horizontal@m grid grid-3-columns grid-1-columns@m gap-medium">
        {{ range (where .Site.RegularPages "Section" "==" "project") }}
            <div class="animation animation-scale-in animation-duration-faster" style="--animation-delay:0s" data-filters="{{ delimit .Params.project_categories "," }}">
                <a href="/project/{{ lower .Title }}/">
                    <div class="card card-default box-shadow-large box-shadow-none@dark">
                        <div class="card-header padding-remove-horizontal padding-remove-top">
                            <img src="{{ .Params.project_banner_url }}" class="border-radius-xsmall border-radius-remove-bottom-left border-radius-remove-bottom-right width-1/1">
                        </div>
                        <div class="card-body">
                            <h5>{{ .Title }}</h5>
                            <h6>{{ .Params.project_type }}</h6>
                        </div>
                    </div>
                </a>
            </div>
        {{ end }}
    </section>
</section>

<script>
    const filters = document.querySelectorAll('#filters-pane > li > a');
    
    filters.forEach(filter => { 
        filter.addEventListener('click', function() {
    
            let selectedFilter = filter.getAttribute('data-filter');

            Array.from(filters).forEach(el => {
                console.log(el.parentElement);
                el.parentElement.classList.remove('active');
            });

            filter.parentElement.classList.add('active');

            let itemsAll = Array.from(document.querySelectorAll('#filters-content > [data-filters]'));

            let itemsToHide = itemsAll.filter(function(item) {
                let values = item.getAttribute('data-filters').split(',');
                return !values.includes(selectedFilter);
            });
            let itemsToShow = itemsAll.filter(function(item) {
                let values = item.getAttribute('data-filters').split(',');
                return values.includes(selectedFilter);
            });
    
            if (selectedFilter == 'All') {
                itemsToHide = [];
                itemsToShow = itemsAll;
            }
    
            itemsToHide.forEach(el => {
                el.classList.add('none');
            });
    
            itemsToShow.forEach(el => {
                el.classList.remove('none');
            });
        });
    });
    </script>

{{ end }}