<section class="offcanvas" id="sidebar-primary">
    <div class="offcanvas-overlay">
        <a href="{{ .Page.Permalink }}#close" class="block height-100vh"></a>
    </div>
    <div class="offcanvas-bar">
        <div class="margin-medium margin-remove-horizontal">
            <a href="/" class="flex flex-align-items-center flex-justify-content-start">
                <div>
                    <img src="/images/logo.png" width="48" />
                </div>
            </a>
        </div>
        <ul class="nav">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                {{ $active = or $active (eq .Name $currentPage.Title) }}
                {{ $active = or $active (and (eq (trim (path.Dir .URL) "/") $currentPage.Section) (ne $currentPage.Section "")) }}
                {{ $active = or $active (eq $.RelPermalink (.URL | relLangURL)) }}
                {{ $active = or $active (eq $.Section (lower .Name)) }}
                <li class="{{if $active }}active{{end}}">
                    <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                </li>
            {{ end }}
        </ul>
    </div>
</section>