{{ define "main" }}
<section class="margin-large margin-medium@m">
    {{.Content}}
    
    <section id="filters-content" class="margin-large margin-remove-horizontal@m padding-large padding-remove-top padding-remove-horizontal@m grid grid-3-columns grid-1-columns@m gap-medium">
        {{ range (where .Site.RegularPages "Section" "==" "blog") }}
            <div class="animation animation-scale-in animation-duration-faster" style="--animation-delay:0s" data-filters="{{ delimit .Params.article_tags "," }}">
                <a href="/blog/{{ lower .Title }}/">
                    <div class="card card-default box-shadow-large box-shadow-none@dark">
                        <div class="card-header padding-remove-horizontal padding-remove-top">
                            <img src="{{ .Params.article_banner_url }}" loading="lazy" class="border-radius-xsmall border-radius-remove-bottom-left border-radius-remove-bottom-right width-1/1">
                        </div>
                        <div class="card-body">
                            <h5>{{ .Title }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {{ end }}
    </section>
</section>

{{ end }}